<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoes Store Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css1/adminlogin.css">
</head>
<body>
    <%- include('../partials/adminheader.ejs') %>

    <section class="first-footer" style="border-bottom: 2px solid #000;">
        <footer class="text-center text-white" style="background-color: #ffffff;">
          <div class="container p-4 pb-0">
            <section class="">
              <p class="d-flex justify-content-center text-nowrap">
                <span class="me-3" style="color:black; font-weight:bold; font-size:200%; margin-right: 1030px; margin-top: 15px;">ADMIN/DASHBOARD</span>
              </p>
            </section>
          </div>
        </footer>
    </section>
    
    
        
            <div class="row flex-nowrap">
                
              <%- include('../partials/adminsidebar.ejs') %>

              


            </div>

          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

          <script>

            /////////////////////////////////////////////////////////////////////////////////////////////////////

            const ctx = document.getElementById('myChart');
            const userCountsElement = document.getElementById('userCounts');
            const blockedUserCount = parseInt(userCountsElement.getAttribute('data-blocked-count'));
            const nonBlockedUserCount = parseInt(userCountsElement.getAttribute('data-non-blocked-count'));
            const totalUserCount = blockedUserCount + nonBlockedUserCount;


            new Chart(ctx, {
              type: 'pie',
              data: {
                labels: ['Blocked Users', 'Non-Blocked Users', "All Users"],
                datasets: [{
                  data: [blockedUserCount, nonBlockedUserCount, totalUserCount],
                  backgroundColor: ['#f00', '#1fe074', "#0069c0"],
                  borderWidth: 0
                }]
              },
              options: {
                responsive: true,
                maintainAspectRatio: false,
              }
            });

            /////////////////////////////////////////////////////////////////////////////////////////////////////z

            const ctxi = document.getElementById('myCharts');

            let monthlySales = document.getElementById('monthlySales').value;
            let monthlySalesArray = JSON.parse(monthlySales);
            let monthlySalesAmount = []
            for (let i = 0; i <= 12; i++) {
              for (let j = 0; j < monthlySalesArray.length; j++) {
                if ((monthlySalesArray[j].month - 1) == i) {
                  monthlySalesAmount[i] = monthlySalesArray[j].monthlySales
                  break
                }
              }
              if (!monthlySalesAmount[i]) {
                monthlySalesAmount[i] = 0
              }
            }


            new Chart(ctxi, {
              type: 'bar',
              data: {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                datasets: [{
                  label: `Sales of Month on ${monthlySalesArray[0].year}`,
                  data: monthlySalesAmount,
                  borderWidth: 1,
                  backgroundColor: "#1fe074"
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });

            
          </script>

    
      <%- include('../partials/adminfooter.ejs') %>