<nav class="navbar navbar-expand-lg navbar-light" style="border-bottom: 2px solid #000;">
    <div class="container-fluid" style="height:90px;">
        <a class="navbar-brand" href="#">
            <img src="/images/shoes-store-logo.png" alt="Logo" style="width: 107px; height: 107px; margin-left: -30px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">  
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#logoutModal">
                      LOGOUT
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="logoutModalLabel">Confirm Logout</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to logout?
        </div>
        <div class="modal-footer">
          <form action="/adminlogout" method="POST">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
          <button class="btn btn-warning" type="submit">LOGOUT</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

