<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoes Store Website</title>
    <link rel="icon" href="http://localhost:5000/images/shoes-store-logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/address.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css1/userlogin.css">
</head>
<body>

    <%- include('../partials/header.ejs') %>

    <div class="container-xl px-4 mt-4">
        <!-- Account page navigation-->
        <nav class="nav nav-borders">
        <a class="nav-link  ms-0" href="/profile" target="__blank">Profile</a>
        <a class="nav-link" href="/orders" target="__blank">Orders</a>
        <a class="nav-link active" href="/changepassword" target="__blank">Change Password</a>
        <a class="nav-link" href="/address" target="__blank">Saved Addresses</a>
        <a class="nav-link" href="/wallet" target="__blank">Wallet</a>
        </nav>
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- Change password card-->
                <div class="card mb-4">
                    <div class="card-header font-weight-bolder">Change Password</div>
                    <div class="card-body">
                        <form action="/changepassword" method="POST">
                            <!-- Form Group (current password)-->
                            <% if(locals.alert) { %>
                                <p class="alert alert-danger text-center"><%= locals.alert %></p>
                            <% } %>
                            <div class="mb-3">
                                <label class="small mb-1">Current Password</label>
                                <input class="form-control" name="currentPassword" id="currentPassword" type="password" placeholder="">
                            </div>
                            <!-- Form Group (new password)-->
                            <div class="mb-3">
                                <label class="small mb-1">New Password</label>
                                <input class="form-control" name="newPassword" id="newPassword" type="password" placeholder="">
                            </div>
                            <!-- Form Group (confirm password)-->
                            <div class="mb-3">
                                <label class="small mb-1">Confirm New Password</label>
                                <input class="form-control" name="confirmPassword" id="confirmPassword" type="password" placeholder="">
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary" type="submit">Save New Password</button>
                            </div>
                        </form>
                    </div>
                </div>              
            </div>
            </div>
        </div>
    </div>
</body>
</html>